<div class="holder">
    <div class="container-my">
        <img src="https://thumbs.dreamstime.com/b/vector-cartoon-illustration-sick-computer-monitor-mascot-sick-computer-137350630.jpg"
        width="300"
        height="300"
        alt="">

        <div class="text-holder">
            <font style="color: red;">4</font><font style="color: green;">0</font><font style="color: blue;">4</font>
        </div>
        <div class="text-style2">
            <font>You Are Visited Wrong Page</font>
        </div>
    </div>
</div>