<div *ngIf="showMessage" display-message [message]="disMsg"></div>
<div class="holder">
    <p>Room No. <input [(ngModel)]="roomNumber" class="form-control text-fild-my" type="text"></p>
    <p>Bed <input [(ngModel)]="bed" class="form-control text-fild-my" type="text"></p>
    <p>Flore <input [(ngModel)]="flore" class="form-control text-fild-my" type="number"></p>
    <p>Details <input [(ngModel)]="details" class="form-control text-fild-my" type="text"></p>
    <p>Price <input [(ngModel)]="price" class="form-control text-fild-my" type="number"></p>
    <p>Image link <input [(ngModel)]="imageLink" class="form-control text-fild-my" type="text"></p>
    <div class="button-holder">
        <p-button (click)="onSaveButton()" label="Save" icon="pi pi-check" iconPos="right"></p-button>
    </div>
</div>