<br>
<div *ngIf="showMessage" display-message [message]="disMsg"></div>
<div class="select-holdeer">
  <select (change)="setVal($event)" class="form-select my-style-select">
    <option value="5">Show 5</option>
    <option selected value="10">Show 10</option>
    <option value="15">Show 15</option>
    <option value="20">Show 20</option>
  </select>
</div>
  <p-table [value]="displayList">
    <ng-template pTemplate="header">
        <tr>
          <th>Booking ID</th>
          <th>Customet ID</th>
          <th>Room Number</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-detail>
        <tr>
          <td>{{ detail.bookingid }}</td>
          <td>{{ detail.cid }}</td>
          <td>{{ detail.hotel_name }}</td>
          <td>{{ detail.date }}</td>
          <td>
            <div [ngSwitch]="detail.status">
              <p class="pending" *ngSwitchCase="'pending'">Pending</p>
              <p class="rej" *ngSwitchCase="'rejected'">Rejected</p>
              <p class="conf" *ngSwitchCase="'confirmed'">Confirmed</p>
          </div>
          </td>
        </tr>
    </ng-template>
</p-table>

  <div *ngIf="isRecord" class="no-record">No Record Found</div>

  <div class="page-sholder">
    <p>Page No. {{ page }}</p>
  </div>
  <div class="btnhodler">
    <button pButton *ngIf="isLeft" (click)="previousItem()" type="button" label="&#11164;" ></button>
    &nbsp;
    <button pButton *ngIf="isRight" (click)="nextItem()" type="button" label="&#11166;" ></button>
  </div>