<div *ngIf="showMessage" display-message [message]="disMsg"></div>
<table width="100%">
    <tr>
        <td align="center">Customer ID</td>
        <td>{{ userDetails.cid }}</td>
    </tr>
    <tr>
        <td align="center">User Name</td>
        <td>{{ userDetails.username }}</td>
    </tr>
    <tr>
        <td align="center">Name</td>
        <td><input [disabled]="!isEditable" #name class="form-control text-width-custom" type="text" value="{{ userDetails.name }}"></td>
    </tr>
    <tr>
        <td align="center">Email</td>
        <td>{{ userDetails.email }}</td>
    </tr>
    <tr>
        <td align="center">Address</td>
        <td><textarea [disabled]="!isEditable" #address class="form-control text-width-custom" cols="30" rows="5">{{ userDetails.address }}</textarea></td>
    </tr>
    <tr>
        <td align="center">Addhar Card Number</td>
        <td>{{ userDetails.addharnumber }}</td>
    </tr>
    <tr>
        <td align="center">Modified Date And Time</td>
        <td>{{ userDetails.mdate }}</td>
    </tr>
    <tr>
        <td align="center">Creation Date And Time</td>
        <td>{{ userDetails.ctime }}</td>
    </tr>
    <tr>
        <td align="center">DOB</td>
        <td>{{ userDetails.dob }}</td>
    </tr>
    <tr>
        <td align="center">Mobile</td>
        <td><input [disabled]="!isEditable" #number class="form-control text-width-custom" type="number" value="{{ userDetails.mobile }}"></td>
    </tr>
    <tr>
        <td align="center">Image</td>
        <td><img *ngIf="showUImage" src="{{ userDetails.userimage }}" width="200" height="200"></td>
    </tr>
    <tr>
        <td align="center">Addhar Card Image</td>
        <td><img *ngIf="showAImage" src="{{ userDetails.addharimage }}" width="200" height="200"></td>
    </tr>
    <td></td>
    <td>
        <button [disabled]="!isEditable" (click)="onUpdateData(name,address,number)" pButton type="button" label="UPDATE" class="p-button-sm"></button>
        <span class="btn-holder-my">
            <button (click)="onEdit()" pButton type="button" label="Edit" class="p-button-sm"></button>
        </span>
        <span class="btn-holder-my">
            <button pButton (click)="onCancel()" type="button" label="Cancel" class="p-button-sm"></button>
        </span>
    </td>
</table>