.text-width-custom
{
    width: 300px;
}

.my-button
{
    padding-left: 10%;
    padding-right: 10%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}