<div *ngIf="showMessage" display-message [message]="disMsg"></div>
<table>
    <tr>
        <td>
            <img (click)="onClickImage()" *ngIf="isVisable" style="cursor: pointer;" width="600" height="400" src="{{ img }}" alt="">
        </td>
        <td>
            <div class="holder">
                <p>Room Number: <font>{{ roomnumber }}</font></p>
                <p>Bed: <font>{{ bed }}</font></p>
                <p>Flowre: <font>{{ flr }}</font></p>
                <p>Others details: <font>{{ det }}</font></p>
                <p><font style="color: red; font-size: 18px;">Price: {{ price }} /-</font></p>
            </div>
        </td>
    </tr>
</table>

<!-- EDIT ROOM -->
<div *ngIf="showEdit" class="edit-holder">
    <table cellpadding="10">
        <tr>
            <td>Room Number:</td>
            <td>{{ roomnumber }}</td>
        </tr>
        <tr>
            <td>Bed:</td>
            <td><input class="form-control" type="text" [(ngModel)]="bed"></td>
        </tr>
        <tr>
            <td>Flowre:</td>
            <td><font>{{ flr }}</font></td>
        </tr>
        <tr>
            <td>Others details:</td>
            <td><input class="form-control" type="text" [(ngModel)]="det"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input class="form-control" type="text" [(ngModel)]="price"></td>
        </tr>
    </table>
    <br><br>
    <div class="btn-save-holder">
        <p-button (click)="onSave()" label="SAVE" icon="pi pi-check" iconPos="right"></p-button>
    </div>
</div>
<!-- END EDIT ROOM -->

<!-- CLICK FULL IMAGE -->
<div (click)="onClickCloseImage()" *ngIf="isImageShow" class="img-holder">
    <img class="img-pos" width="850" height="600" src="{{ img }}" alt="">
</div>
<!-- END FULL IMAGE -->