<div id="dipsprint">
    <p-table [value]="dshow" width="100%">
        <ng-template pTemplate="body" let-da>
            <tr>
                <td class="highlight-my-text">Booking ID</td>
                <td>{{ da.bookingid }}</td>
            </tr>
            <tr>
                <td class="highlight-my-text">Price</td>
                <td>{{ da.price }} /-</td>
            </tr>
            <tr>
                <td class="highlight-my-text">Customar ID</td>
                <td>{{ da.cid }}</td>
            </tr>
            <tr>
                <td class="highlight-my-text">Room No.</td>
                <td>{{ da.hotel_name }}</td>
            </tr>
            <tr>
                <td class="highlight-my-text">Date</td>
                <td>{{ da.date }}</td>
            </tr>
            <tr>
                <td class="highlight-my-text">Status</td>
                <td>{{ da.status }}</td>
            </tr>
            <tr>
                <td class="highlight-my-text">Bed</td>
                <td>{{ da.bed }}</td>
            </tr>
            <tr>
                <td class="highlight-my-text">Flore</td>
                <td>{{ da.location }}</td>
            </tr>
            <tr>
                <td class="highlight-my-text">Others Details</td>
                <td>{{ da.details }}</td>
            </tr>
            <tr>
                <td class="highlight-my-text">User name</td>
                <td>{{ da.username }}</td>
            </tr>
            <tr>
                <td class="highlight-my-text">Name</td>
                <td>{{ da.name }}</td>
            </tr>
            <tr>
                <td class="highlight-my-text">Email</td>
                <td>{{ da.email }}</td>
            </tr>
            <tr>
                <td class="highlight-my-text">Address</td>
                <td>{{ da.address }}</td>
            </tr>
            <tr>
                <td class="highlight-my-text">Addhar No.</td>
                <td>{{ da.addharnumber }}</td>
            </tr>
            <tr>
                <td class="highlight-my-text">Mobile</td>
                <td>{{ da.mobile }}</td>
            </tr>
            <tr>
                <td class="highlight-my-text">User Image</td>
                <td>
                    <img width="200" height="200" src="{{ da.userimage }}">
                </td>
            </tr>
            <tr>
                <td class="highlight-my-text">Addhar Card</td>
                <td>
                    <img width="230" height="300" src="{{ da.addharimage }}">
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="print-button-holder">
    <p-button (click)="onPrint()" styleClass="p-button-outlined">
        <img width="25" height="25" alt="logo" src="https://png.pngtree.com/png-vector/20200706/ourmid/pngtree-black-plastic-office-printer-printing-a-paper-page-png-image_2302044.jpg" />
        <span class="ml-2 font-bold">Print</span>
    </p-button>
</div>