<div *ngIf="showMessage" display-message [message]="disMsg"></div>
<div class="radio-holder">
    <input type="radio" (input)="onFilterChange($event)" value="all" name="filter" checked>  <font class="pending">All</font>
    
    <input type="radio" (input)="onFilterChange($event)" value="pending" name="filter">  <font class="pending">Pending</font>
    
    <input type="radio" (input)="onFilterChange($event)" value="confirmed" name="filter">  <font class="conf">Confirm</font>
    
    <input type="radio" (input)="onFilterChange($event)" value="rejected" name="filter">  <font class="rej">Reject</font>
</div>
<br>
<div class="data-holder">
    <p-table [value]="displayData">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="bookingid" style="min-width: 14rem">
                    <div class="flex justify-content-between align-items-center">
                        Booking ID
                        <p-sortIcon field="name"></p-sortIcon>
                        
                    </div>
                </th>
                <th pSortableColumn="cid" style="min-width: 14rem">
                    <div class="flex justify-content-between align-items-center">
                        Customer ID
                        <p-sortIcon field="name"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="hotel_name" style="min-width: 14rem">
                    <div class="flex justify-content-between align-items-center">
                        Room Number
                        <p-sortIcon field="name"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="date" style="min-width: 14rem">
                    <div class="flex justify-content-between align-items-center">
                        Date
                        <p-sortIcon field="name"></p-sortIcon>
                    </div>
                </th>
                <th>Status</th>
                <th>Set status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-list>
            <tr>
                <th scope="row" (click)="redirectCd(bid)" #bid>{{ list.bookingid }}</th>
                <td>{{ list.cid }}</td>
                <td>{{ list.hotel_name }}</td>
                <td>{{ list.date }}</td>
                <td>
                    <div [ngSwitch]="list.status">
                        <p class="pending" *ngSwitchCase="'pending'">Pending</p>
                        <p class="rej" *ngSwitchCase="'rejected'">Rejected</p>
                        <p class="conf" *ngSwitchCase="'confirmed'">Confirmed</p>
                    </div>
                </td>
                <td>
                    <div class="holder" *ngIf="list.status=='pending'">
                        <input type="hidden" #sendbid name="bid" value="{{ list.bookingid }}">
                        <font class="radio-s">
                            <input type="radio" #sendrad1 name="setstatus" value="confirmed">Confirmed
                            <input type="radio" #sendrad2 name="setstatus" value="rejected">Rejected
                        </font>
                        <button (click)="onSendBtn(sendbid,sendrad1,sendrad2)" pButton pRipple type="button" label="Save" class="p-button-rounded p-button-success"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>