
<div class="bnr">
    <font class="home-text-style">Our Best Service <br>Location In India</font>

</div>

<div class="holder">
    <img
     [src]="link"
     width="900"
     height="500"
     alt="">
</div>

<div class="holder2">
    <h1>Stay Smartly Pay Hourly</h1>
    <ul>
        <li>
            <font class="textStyle">Flexible Check-in</font>
            <br>
            No more just the fixed Hotel Times, Choose your own Check in and out times
        </li>
        <li>
            <font class="textStyle">Best Prices</font>
            <br>
            We provide best prices across 30+ cities, You can save upto 70% on Hourly rates
        </li>
        <li>
            <font class="textStyle">Book Now Pay at Hotel</font>
            <br>
            We provide multiple payment methods, You can book now and do the payment at hotel.
        </li>
    </ul>
</div>
<br><br><br><br><br><br>
<img routerLink="/rooms" style="cursor: pointer;" src="https://assets.oyoroomscdn.com/cmsMedia/e56e0bd3-b86f-4946-a8d8-b5165651a070.png" height="300" width="100%">
<br>
<br>
<div *ngIf="showGraph">
    <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
</div>