<div *ngIf="showMessage" display-message [message]="disMsg"></div>
<h1 *ngIf="isLoading">{{ myMessage }}</h1>
<!-- LIST VIEW -->
<div class="holder container">
    <div class="row">
        <div *ngFor="let room of allRooms" class="list">
            <img class="img-styl" src="{{ room.image }}" width="400" height="200">
            <br><br>
            <div class="content">
                <p>Room number: <font #hotelname>{{ room.hotel_name}}</font></p>
                <p>Bed: {{ room.bed }}</p>
                <p>flore: {{ room.location }}</p>
                <p style="cursor: pointer;" title="{{ room.details }}">Others details: {{ room.details | shortwritting }}</p>
                <p style="color: red;">Price: {{ room.price }} /-</p>
            </div>
            <input #date type="date" (input)="onCheckDate($event)" class="form-control" style="cursor: pointer;">
            <br>
            <div (click)="copyLink(hotelname)" title="Share THis Room" class="share-holder">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                    <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
                </svg>
            </div>
            <button (click)="navigateDetails(hotelname)" class="btn btn-danger button-custom2">VISIT</button>
            <button (click)="setPopup(hotelname,date)" class="btn btn-warning button-custom1">Add +</button>
        </div>
    </div>
</div>
<!-- END LIST VIEW -->

<!-- POPUP -->
<div *ngIf="isPopupShow" class="popup-holder">
    <div class="popup">
        <div class="popup-container">
            <font class="popup-text"> Are You sure to book This room? </font>
            <div class="button-holder">
                <button (click)="onAddButton()" class="btn btn-primary my-btn">OK</button>
                &nbsp;
                <button (click)="closePopup()" class="btn btn-danger my-btn">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- END POPUP -->